*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav{
  display: flex;
  justify-content: space-around;
  min-height: 17vh;
  align-items: center;
  flex-wrap: wrap;
}

nav>.logo{
  font-size: 2rem;
  cursor: pointer;
}

.nav-links{
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.hamnav-links{
  list-style: none;
}

.nav-links a,
.hamnav-links a{
  color: #000;
  text-decoration: none;
  position: relative;
}

.nav-links>li>a::after,
.hamnav-links>li>a::after{
  content: "";
  background-color:#000;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transition: transform 0.5s ease;
}

.nav-links>li>a:hover::after,
.hamnav-links>li>a:hover::after{
  transform: scale(1);
}

/* HAMBURGER-MENU */
#hamburger-nav{
  display: none;
}

.hamburger-menu{
  position: relative;
  display: inline-block;
}

.hamburger-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon>span{
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3 ease-in-out;
}

.menu-links>.hamnav-links{
  position: absolute;
  top: 12%;
  right: 23%;
  background-color: white;
  width: fit-content;
  transform: scale(0);
  overflow: hidden;
  transition: transform 0.5s ease-in-out;;
}

.menu-links>.hamnav-links>li>a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  transition: transform 0.5s ease-in-out;
}

.menu-links>.hamnav-links.active-menu{
  transform: scale(1);
}

.hamburger-icon.active-menu span:first-child{
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.active-menu span:nth-child(2){
 opacity: 0;
}
.hamburger-icon.active-menu span:last-child{
  transform: rotate(-45deg) translate(10px, -5px);
}

.pic-container{
  width: 500px;
}

.pic-container>img{
  width: 100%;
 
}

/* .hamburger-icon span:first-child{
  transform: none;
}
.hamburger-icon span:first-child{
  opacity: 1;
}
.hamburger-icon span:first-child{
  transform: none;
} */

/* MEDIA QUERIES */

@media(max-width:1200px){
  #desktop-nav{
    display: none;
  }
  #hamburger-nav{
    display: flex;
  }

  
}

/* body{
  background: #080808;
  color: #fff;
  min-height: 100vh;
}


#header{ */
  /* position: relative; */
  /* width: 100%;
  min-height: 100vh;
  background: url(images/background.png); 
  background-size: cover;
  background-position: center;
} */

/* #header > img{
  position: absolute;
  width: 50%;
  top: 13%;
  right: 0;
  border: 0;
  outline: 0;
}
 */
 /* .container{
  padding: 10px 3%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
 }

 .container>.menu-icon{
  color: white;
  font-size: 38px;
  margin-top: 10px;
 }

 .container > nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
 }

 .container > .logo{
  width: 140px;
 }

 .container>.sidebar-nav{
  transform: scale(0);
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  transition: transform 0.5s;
 }

 .container>.sidebar-nav.active-sidebar{
  transform: scale(1);
  display: flex;
 }

 .container>.sidebar-nav>.sidebar-close{
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 25px;
 }

 .container>.sidebar-nav>ul>li{
  list-style: none;
  margin-top: 20px;
 } */

 /* .container>.sidebar-nav>ul>li>a:hover{
  background-color: rgba(255,255,255,0.5);
 } */

 /* .container>.main-navbar{
  list-style: none; */
  /* display: flex; */
  /* display: none;
  gap: 30px;
 }

 .container >nav >ul > li > a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
 }

 .container >nav >ul > li > a::after{
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff004f;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
 }

 .container >nav >ul > li > a:hover::after{
  width: 100%;
 }

 .header-text{
  max-width: 100%;
  margin-top: 15%;
  font-size: 20px;
  border: 1px solid red;
 }

 .header-text > h2{
  font-size: 40px;
  margin-top: 20px;
   
 }

 .header-text >h2 >span{
  color: #ff004f;
  max-width: 100%;
 } */
/* --------------about-------------- */

 /* #about{
  padding: 80px 0;
  color: #ababab;
 }
 #about>.container>.row{
  display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 }

 .about-col-1{
  flex-basis: 35%;
 }
 .about-col-1 > img{
  width: 100%;
  border-radius: 15px;
 }

 .about-col-2{
  flex-basis: 60%;
 }

 .section-heading{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
 }

 .about-col-2>.tabs>.tab-titles{
  display: flex;
  margin: 20px 0 40px;
  gap: 50px;
 }

 .about-col-2>.tabs>.tab-titles>.tab-links{
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
 }

 .tab-links::after{
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  background-color: #ff004f;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
 }

 /* .tab-links:hover::after{
  width: 50%;
 } 

 .tab-links.active-link::after{
  width: 50%;
 }

 .tab-contents>ul>li{
  list-style: none;
  margin: 10px 0;
 }

 .tab-contents>ul>li>span{
  color:#b54769;
  font-size: 14px;
 }

 .tab-contents{
  display: none;
 }

 .tab-contents.active-tab{
  display: block;
 }*/

 /* ---------------services----------------- */
 /* #services{
  padding: 30px 0;
 }

 .services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
 } */ 